.scroll::-webkit-scrollbar{
    display: none;
}

.scroll {
    scrollbar-width: none;
}

.maintitle{
    background-color:rgba(31, 148, 255, 0.75);
}

.pb{
    background-color: rgb(39, 38, 41) ;
}

.fa:hover{
    color: #FFC107 !important;
}

.navbar{
    background-color: rgb(6, 6, 8) !important;
}
.card{
    background-color:rgb(39, 38, 41) !important;
}

.formpage{
    background-color: #F8F9FA;
}
.new{
    background-color: #FFC107;
}
.rec{
    background-color: #FFC107;
}
.blog{
    background-color: rgb(39, 38, 41);
}

.markdown img {
    display: block;
    max-width: 100%;
    height: auto;
}

.App {
    text-align: center;
    background-color:rgb(6, 6, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.App-header{
    text-align: center;
    background-color:rgb(39, 38, 41);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.projectpic{
    display: block;
    margin: auto;
}

.cardbody {
    overflow: hidden; /* Hide scrollbars */
    background-color:  rgba(31, 148, 255, 0.75);;
    /* background-image: linear-gradient(#e2e2e2, #9196ca); */
    background-repeat: no-repeat;
    color: #000;
    overflow-x: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}





@media (max-width:767px) {
    h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
}

.intro p {
    margin-bottom: 0
}

.people {
    cursor: pointer
}

.item {
    margin-bottom: 2px
}

.item .box {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform .5s ease;
    position: relative;
    overflow: hidden
}

.item:hover .box{
    transform: scale(1.2);
}
.box1{
    min-height: 155px;
}

.item .cover {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 21, 24, 0.9);
    transition: opacity 0.15s ease-in;
    opacity:0;
    padding-top: 20px;
    color:rgba(255, 255, 255, 0.75);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15)
}

.item:hover .cover {
    opacity: 1;
}

.item .title {
    height: 50%;
    width: 25%;
    
    
}




